@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body, html {
  margin: 0;
  background-color: #d80000;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

@font-face {
  font-family: "retrofont";
  src: url('/fonts/../VT323-Regular.ttf') format('truetype');
}
/* line 20, ../sass/screen.scss */
#info {
  position: absolute;
  left: 0;
  top: 0;
  height: 1080px;
  width: 400px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}
/* line 29, ../sass/screen.scss */
#info h1 {
  font-family: "retrofont";
  font-size: 60px;
  text-transform: uppercase;
  z-index: 100;
  color: white;
  padding: 1px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* line 44, ../sass/screen.scss */
#info table tr {
  padding: 40px;
  text-align: left;
  border-bottom: 25px solid transparent;
}
/* line 48, ../sass/screen.scss */
#info table tr td {
  padding-top: 40px;
  font-family: "retrofont";
  font-size: 30px;
  text-transform: uppercase;
  z-index: 100;
  color: yellow;
  padding: 1px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/* line 62, ../sass/screen.scss */
#info table tr td::first-line {
  color: white;
}
/* line 66, ../sass/screen.scss */
#info table tr td:nth-child(2) {
  font-size: 26px;
}

/* line 73, ../sass/screen.scss */
.cover {
  width: 409px;
  height: 410px;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 100;
  background-image: url(../cover.png);
  background-repeat: no-repeat;
}
/* line 84, ../sass/screen.scss */
.cover#cov-1 {
  right: 61px;
  top: 101px;
}
/* line 88, ../sass/screen.scss */
.cover#cov-2 {
  right: 481px;
  top: 101px;
}
/* line 92, ../sass/screen.scss */
.cover#cov-3 {
  right: 901px;
  top: 101px;
}
/* line 96, ../sass/screen.scss */
.cover#cov-4 {
  right: 61px;
  top: 521px;
}
/* line 100, ../sass/screen.scss */
.cover#cov-5 {
  right: 481px;
  top: 521px;
}
/* line 104, ../sass/screen.scss */
.cover#cov-6 {
  right: 901px;
  top: 521px;
}

/* line 110, ../sass/screen.scss */
.container {
  width: 370px;
  height: 370px;
  position: absolute;
  perspective: 1400px;
  z-index: 100;
}

/* line 118, ../sass/screen.scss */
.user {
  font-family: "retrofont";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  z-index: 100;
  color: white;
  padding: 1px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 138, ../sass/screen.scss */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform-style: preserve-3d;
  transition: transform 1s;
}
/* line 146, ../sass/screen.scss */
.card.flipped {
  transform: rotateY(180deg);
}
/* line 149, ../sass/screen.scss */
.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* line 158, ../sass/screen.scss */
.card .front {
  background: red;
  background-size: cover;
  font-family: "retrofont";
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  z-index: 100;
  color: white;
  opacity: 0.8;
}
/* line 173, ../sass/screen.scss */
.card .front.pow-mario:after, .card .front.pow-luigi:after {
  content: "";
  position: absolute;
  top: 147px;
  left: 158px;
  background-image: url(../mario-smash.png);
  width: 50px;
  height: 74px;
}
/* line 186, ../sass/screen.scss */
.card .back {
  background: blue;
  transform: rotateY(180deg);
  background-size: cover;
  font-family: "retrofont";
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  z-index: 100;
  color: white;
  opacity: 0.8;
}
/* line 201, ../sass/screen.scss */
.card .cover2 {
  width: 389px;
  height: 388px;
  left: -10px;
  top: -9px;
  position: absolute;
  background-image: url(../inner-cover-2.png);
  background-repeat: no-repeat;
}

/* line 214, ../sass/screen.scss */
.mario {
  position: absolute;
  top: 0;
  left: 0;
  background:  ;
  background-image: url(../mario-climbing.gif);
  background-repeat: no-repeat;
  background-position: top left;
  width: 50px;
  height: 77px;
}
/* line 226, ../sass/screen.scss */
.mario.smash {
  background-image: url(../mario-smash.png);
}

/* line 230, ../sass/screen.scss */
.mario {
  z-index: 101;
}
/* line 232, ../sass/screen.scss */
.mario.luigi {
  background-image: url(../luigi-climbing.gif);
}
/* line 234, ../sass/screen.scss */
.mario.luigi.smash {
  background-image: url(../luigi-climbing-smash.gif);
}
/* line 238, ../sass/screen.scss */
.mario.back {
  z-index: 98;
  background-image: url(../mario-climbing-back.gif);
}
/* line 241, ../sass/screen.scss */
.mario.back.smash {
  background-image: url(../mario-climbing-back.gif);
}
/* line 244, ../sass/screen.scss */
.mario.back.luigi {
  background-image: url(../luigi-climbing-back.gif);
}
/* line 246, ../sass/screen.scss */
.mario.back.luigi.smash {
  background-image: url(../luigi-climbing-back.gif);
}

/* line 253, ../sass/screen.scss */
#instatitle {
  font-family: "retrofont";
  font-size: 60px;
  position: absolute;
  display: inline-block;
  right: 300px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 10px;
  z-index: 1000;
}

/* line 266, ../sass/screen.scss */
#card-1 {
  right: 80px;
  top: 140px;
}

/* line 271, ../sass/screen.scss */
#card-2 {
  right: 500px;
  top: 140px;
}

/* line 276, ../sass/screen.scss */
#card-3 {
  right: 920px;
  top: 140px;
}

/* line 281, ../sass/screen.scss */
#card-4 {
  right: 80px;
  top: 560px;
}

/* line 286, ../sass/screen.scss */
#card-5 {
  right: 500px;
  top: 560px;
}

/* line 291, ../sass/screen.scss */
#card-6 {
  right: 920px;
  top: 560px;
}

/* line 296, ../sass/screen.scss */
#temple {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 984px;
  background-image: url(../templebackground.png);
}

/* line 305, ../sass/screen.scss */
#top-blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 144px;
  background-image: url(../top-blocks.png);
}

/* line 313, ../sass/screen.scss */
#grid {
  position: absolute;
  top: 45px;
  right: 16px;
  width: 1494px;
  height: 920px;
  z-index: 99;
  background-image: url(../grid2.png);
}

/* line 322, ../sass/screen.scss */
#flames {
  position: absolute;
  top: 967px;
  width: 1920px;
  left: 0;
  height: 100px;
  background-image: url(../flames.gif);
  background-repeat: repeat-x;
  background-color: transparant;
}

/* line 336, ../sass/screen.scss */
#flip {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
